.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    margin-top: 10px;
}

.message-left
{
    background-color: #ebe7e6;
    padding: 15px;
    border-radius: 35px;
}

.message-right
{
    background-color: #1366bf;
    padding: 15px;
    color: white;
    border-radius: 35px;
}

li.right
{
    text-align: right;
}


.chat li .chat-body p
{
    margin: 0;
}

.right {
    color: #f5f5f5;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-footer {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px dotted #B3A9A9;
}

.buttons-section {
    float: right;
}

.margin-right-15 {
    margin-right: 15px;
}
.answer {
    margin-right: 5px;
}

.primary-font {
    font-weight: bold;
}

.chat-img {
    width: inherit;
    height: inherit;
}

.btn{
    border-radius: 3px;
}
form-control .form-control:focus .form-control:hover .form-contro:active{
    border-radius: 3px;
}
