<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>E-doctor</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" >

    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto|Varela+Round}" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">E-doctor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"  th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/chat}">Chatbot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/userview}">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<div class="panel-heading">
    <div class="row justify-content-center">
    <h2> Chatbot</h2>
    </div>
</div>
<hr>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="panel panel-primary">

                <div class="panel" id="collapseOne">
                    <div class="panel-body">
                        <ul class="chat" th:each="m : ${messages}" th:switch="${m.getSender()}">

                            <li th:case="${botName}" class="left clearfix" >
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img th:src="@{/img/bot.jpg}" alt="bot" class="chat-img" >
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="chat-body message-left clearfix">
                                            <div class="header">
                                                <strong class="primary-font"><span th:text="${m.getSender()}" /></strong>
                                            </div>
                                            <p>
                                                <span th:text="${m.getValue()}" />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li th:case="*" class="right clearfix" >
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="chat-body message-right clearfix">
                                            <div class="header">
                                                <strong class="primary-font"><span th:text="${m.getSender()}" /></strong>
                                            </div>
                                            <p class="right">
                                                <span th:text="${m.getValue()}" />
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <img th:if="${userSex == 'Female'}" th:src="@{/img/female.jpg}" alt="female" class="chat-img" >
                                        <img th:unless="${userSex == 'Female'}" th:src="@{/img/male.jpg}" alt="male" class="chat-img">
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="panel-footer">

                        <span th:switch="${inputType}">

                            <span th:case="1">
                                <form th:action="@{/chat}" th:object="${userMessage}" method="post">
                                    <div class="form-group input-group">
                                        <input type="text" class="form-control input-sm margin-right-15" placeholder="Type your message here..." th:field="*{value}" autofocus="true"/>
                                        <button class="btn btn-primary btn-sm" type="submit">Send</button>
                                    </div>
                                </form>
                            </span>

                            <span th:case="2">
                                <form th:action="@{/chat}" th:object="${userMessage}" method="post">
                                    <div class="form-group input-group" style="display: flex; justify-content: flex-end">
                                        <span class="margin-right-15" th:each="a : ${answers}">
                                            <input type="radio" name="answer" class="answer"  th:value="${a}" th:field="*{value}" th:text="${a}"/>
                                        </span>
                                        <button class="btn btn-primary btn-sm" type="submit">Send</button>
                                    </div>
                                </form>
                            </span>

                            <span th:case="*">
                                <p>Thank you for interview! Your diagnosis is saved, you can check it in your user panel.</p>
                            </span>

                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js}"></script>
<script>
    window.jQuery || document.write('<script th:src="@{js/vendor/jquery-1.11.2.min.js}"><\/script>')
</script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{http://code.jquery.com/jquery.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>

</body>
</html>