<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <style type="text/css">
        body {
            color: #656673;
            background: #f5f5f5;
            font-family: 'Varela Round', sans-serif;
        }
        .form-control {
            box-shadow: none;
            border-color: rgb(15, 64, 106);
        }
        .form-control:focus {
            border-color: #4aba70;
        }

    </style>
</head>
<body>

<div class="container">
    <br>  <p class="text-center" style="color:black;">E-doctor</p>
    <hr>

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 style="color:black;" class="card-title mt-3 text-center ">Create Account</h4>
            <p class="text-center">Register to have access to the diagnosis tool</p>

            <form th:action="@{/registration}" th:object="${userForm}" method="post" class="form-signin">

                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>

                <div class="form-group input-group " th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input type="text"  class="form-control" placeholder="Name and surname"
                           autofocus="true" th:field="*{name}">
                    <p class="error-message"
                       th:each="error: ${#fields.errors('name')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group input-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input ntype="email"  class="form-control" placeholder="Email"
                           autofocus="true" th:field="*{email}">
                    <p class="error-message"
                       th:each="error: ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group input-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password"
                           autofocus="true" th:field="*{password}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group input-group" th:classappend="${#fields.hasErrors('birth')}? 'has-error':''">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                    </div>
                    <input type="date" class="form-control" placeholder="Date of birth"
                           autofocus="true" th:field="*{birth}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('birth')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group input-group" th:classappend="${#fields.hasErrors('gender')}? 'has-error':''">
                    <div class="input-group-prepend">
                        <input type="radio" th:field="*{gender}" value="Male"/>     Male

                        <input type="radio"th:field="*{gender}" value="Female"/>    Female

                        <p class="error-message"
                           th:each="error: ${#fields.errors('gender')}"
                           th:text="${error}">Validation error</p>
                    </div>
                </div>

                <div class="form-group input-group"  th:classappend="${#fields.hasErrors('height')}? 'has-error':''">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-male"></i> </span>
                    </div>
                    <input type="number"  class="form-control" placeholder="Height"
                           autofocus="true" th:field="*{height}">
                    <p class="error-message"
                       th:each="error: ${#fields.errors('height')}"
                       th:text="${error}">Validation error</p>
                </div>


                <div class="form-group input-group"
                     th:classappend="${#fields.hasErrors('weight')}? 'has-error':''">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-male"></i> </span>
                    </div>
                    <input type="number"  class="form-control" placeholder="Weight"
                                  autofocus="true" th:field="*{weight}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('weight')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                </div>
                <span>Already registered? <a href="/" th:href="@{/login}">Login
                                    here</a></span>

            </form>
        </article>
    </div>

</div>

<br><br>
<article class="bg-secondary mb-3">
    <div class="card-body text-center">
        <h3 class="text-white mt-3">Remote diagnosis platform</h3>
    </div>
    <br><br>
</article>
